import(stats)
import(ggplot2)
import(graphics)
importFrom("grDevices", "adjustcolor", "hcl")
S3method(print,iNEXT)
S3method(plot,iNEXT)
S3method(ggiNEXT,iNEXT)
S3method(ggiNEXT,default)
S3method(fortify,iNEXT)
export(iNEXT)
export(DataInfo)
export(ChaoSpecies)
export(ChaoEntropy)
export(EstSimpson)
export(ChaoRichness)
export(ChaoShannon)
export(ChaoSimpson)
export(fortify.iNEXT)
export(ggiNEXT)
export(ggiNEXT.iNEXT)
export(ggiNEXT.default)
export(print.iNEXT)
export(estimateD)
export(as.incfreq)
export(as.abucount)